<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.newtest.OrderPageMapper">
  <select id="selectPageData" resultType="com.example.demo.entity.newtest.Order">
    SELECT orderId, clientId, orderDate, quantity,commont FROM newtest.order
  </select>
</mapper>