<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        table {
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
        }
        table thead th {
            border: 1px solid black;
        }
        table tbody td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <form action="#" th:action="@{/search}" th:object="${orderForm}" method="post">
        <p>orderId:<input type="text" th:field="*{orderid}"></p>
        <p><input type="submit" value="search" /></p>
    </form>
    <form action="#" th:action="@{/searchPageRest}" th:object="${orderForm}" method="post">
        <p>orderId:<input type="text" th:field="*{pageNum}"></p>
        <p><input type="submit" value="searchRest" /></p>
    </form>
<hr>
<table cellpadding="0" cellspacing="0">
    <thead>
    <th>orderId</th>
    <th>clientId</th>
    <th>orderDate</th>
    <th>quantity</th>
    <th>comment</th>
    </thead>
    <tbody>

    <tr th:each="entries:${resultList}" >
        <td><a th:href="@{'/edit?orderId=' + ${entries['orderId']}}" th:text="${entries['orderId']}"></a></td>
        <td th:text="${entries['clientId']}"></td>
        <td th:text="${entries['orderDate']}"></td>
        <td th:text="${entries['quantity']}"></td>
        <td th:text="${entries['comment']}"></td>
    </tr>
    <tr>
        <td colspan="5" align="right">
            <a th:if="${current>1}" th:href="@{'/searchPage?page=' + ${current-1}}" th:text="'<<'"></a>
            <a th:text="${current}"></a>
            <a th:if="${current}<${pages}" th:href="@{'/searchPage?page=' + ${current+1}}" th:text="'>>'"></a>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<form action="#" th:action="@{/insert}" method="post">
        <p><input type="submit" value="insert" /></p>
</form>
</body>
</html>